{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block tabulous_body %}

	 	<article class="box post post-excerpt">
  <header>
      <h2>TABulous</h2>
      <p>	We are Fabulous</p>
  </header>
    <div class="info">
      <ul class="stats">
       </br>
       </br>
       </br>
       </br>
      </br>
      </ul>
    </div>
</article>

{% endblock %}